<div id='stackoverflow_feeds' class='user-tab-content'>
  <table class='history-table'>
    <tbody>
      <% @entries.each do |entry| %>
        <tr>
          <td id='enable-load-body-<%= entry.id %>' class='async-load load-prepped'>
            <a class='load-body expander-arrow-small-hide'></a>
            <b><%= link_to entry.title, entry.entry_id, class: 'answer-hyperlink timeline-answers' %></b>
            </br>
            <span class='comments' style='display: none;'></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>