<!DOCTYPE html>
<html>
<head>
  <title>Stackoverfeeds</title>
  <%= stylesheet_link_tag    "stackoverfeeds/application", media: "all" %>
  <%= javascript_include_tag "stackoverfeeds/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
